@import "../../sass/variables";
@import "../../sass/mixins";

.main__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include media-small-mobile {
    flex-direction: column;
  }
}

.main__filter{
  width: 30%;
  padding-left: 15px;
  padding-right: 15px;

  @include media-mobile {
    width: 45%;
  }

  @include media-small-mobile {
    width: 100%;
  }
}

.main__product {
  width: 70%;
  padding-left: 15px;
  padding-right: 15px;

  @include media-mobile {
    width: 55%;
  }

  @include media-small-mobile {
    width: 100%;
  }
}

.view-sorting {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  @include media-mobile {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.main__product_total {
  text-align: center;
  font-family: $font-family-primary;
  font-size: $font-size-llg;
}
