@import '../../../sass/variables';
@import '../../../sass/mixins';

.cart__content {
  width: calc(70% - 20px);
	margin-right: 20px;
}

.cart__pag {
	display: flex;
	margin-bottom: 10px;
}

.pag__label {
	font-size: $font-size-lg;
	margin-left: 10px;
}

.pag__select {
	margin: 0 10px;
}

.cart__header {
	display: flex;
	font-size: $font-size-llg;
	border-bottom: 1px solid $color-dark-grey;
	padding-bottom: 10px;
}

.header__name {
	width: 340px;
	margin: 0 60px;
}

.header__price {
	width: 60px;
	margin: 0 10px;
}

.header__quantity {
	width: 100px;
	margin: 0 10px;
}

.header__total {
	width: 100px;
	margin: 0 10px;
}

.cart__items {
	display: flex;
	flex-direction: column;
}

.cart__msg {
	font-size: $font-size-xxlg;
	padding-top: 80px;
	margin: 0 auto;
}

.cart__summary {
	width: 30%;
	background-color: $color-grey;
	border-radius: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.summary__title {
	font-size: $font-size-xxlg;
	padding-top: 40px;
	margin-bottom: 20px;
}

.summary__items {
	font-size: $font-size-xlg;
	margin-bottom: 20px;
}

.summary__amount {
	font-size: $font-size-xlg;
	margin-bottom: 20px;
}

.promo__input {
	border-radius: 5px;
}

.summary__promo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.promo__input {
	margin-bottom: 5px;
}

.promo__codes {
	margin-bottom: 5px;
}

.summary__promo {
	margin-bottom: 20px;
}

.cart__button {
	margin-bottom: 20px;
	width: 100px;
	height: 40px;
	font-size: $font-size-xlg;
}