@import "../../sass/variables";
@import "../../sass/mixins";

.not-found {
  height: calc(100vh - 200px);
	background-image: url('../../assets/images/img/not-found.jpg');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 0;

	@include media-mobile {
		height: calc(100vh - 220px);
		background-size: contain;
	}
}

.vh {
	border-top: 1px solid $color-dark-grey;
}