@import "../../sass/variables";


.select {
  appearance: menulist-button;
  width: 150px;
  opacity: 1;
  height: 38px;
  font-size: 14px;
  border: 2px solid #e4e4e4;
  border-radius: 3px;
}

.orderby {
  z-index: 9;
  cursor: pointer;
  
}