@import '../../sass/variables';
@import '../../sass/mixins';

.header {
  background-color: $color-white;
  color: $color-dark-grey;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10px 20px 0;
  height: 100px;

  @include media-mobile {
    flex-wrap: wrap;
    height: 120px;
    padding: 20px 0;
  }
}

.header__link {
  @include media-mobile {
    width: 50%;
    margin-bottom: 5px;

    &:last-child {
      display: flex;
      justify-content: flex-end;
    }   
  }
}

.header__logo {
  background-image: url('../../assets/images/png/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 60px;

  @include media-mobile {
    width: 150px;
    background-size: contain;
  }
}

.header__sum {
  align-self: center;
  font-size: $font-size-llg;

  @include media-mobile {
    font-size: $font-size-lg;
    order: 1;
    width: 100%;
    text-align: center;
  }
}

.header__cart {
  display: flex;
  cursor: pointer;
  transition: 1s;

  &:hover,
  &:active {
    .cart__image {
      scale: 1.1;
    }    
  }
}

.cart__image {
  background-image: url('../../assets/images/png/basket.png');
  background-repeat: no-repeat;
  width: 70px;
  height: 50px;
  margin-right: 5px;

  &:hover,
  &:active {
    scale: 1.1;
  }

  @include media-mobile {
    width: 50px;
    background-size: contain;
    align-self: center;
    margin-top: 5px;
  }
}

.cart__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart__count {
  font-size: 14px;
  align-self: center;
}