@import "../../sass/variables";

.maim__product_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.container-inner {
  padding: 15px;
  width: 33%;
}

.product-block-inner{
  border-radius: 5px;
  background: $color-white;
  border: 2px solid $color-grey;
  overflow: hidden;
  text-align: center;
}

.product__img_link {
  color: $color-black;
}

.product__img{
  width: 100%;
}

.product__text {
  color: $color-black;
  font-size: $font-size-md;
  font-family: $font-family-primary;
  font-weight: $font-weight-bold;
  letter-spacing: 0.2px;
  padding:5px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price{
  padding-bottom: 10px;
}



.product__quantity {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.product__input_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.product__quantity_title {
  font-family: $font-family-primary;
  font-size: $font-size-lg;
  padding-right: 5px;
}

.product__quantity_input-text {
  width: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  
}

.product__btn {
  margin: 10px 0;
  padding: 8px 15px 7px;
  height: auto;
  background-color:$color-green-black;
  color: $color-white;
  border-color: $color-green-white;
  font-family: Work Sans, sans-serif;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.product__btn:hover {
  background-color:  $color-green-hover;
}