@import "../../sass/variables";
@import "../../sass/mixins";

.search__wrapper {
  font-family: $font-family-primary;
  word-wrap: break-word;
  width: 45%;

  @include media-small-mobile {
    width: calc(100% - 10px);
    margin-bottom: 10px;
  }
}

.input-search {
  width: 100%;
  border: 2px solid $color-grey;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  font-size: 100%;
  text-align: center;
  height: 38px;

  @include media-tablet {
    width: calc(100% - 10px);
    margin-right: 10px;
  }

  @include media-mobile {
    width: 100%;
    min-width: 150px;
    margin-right: 0;
  }

  @include media-small-mobile {
    width: calc(100% - 10px);
    margin-right: 10px;
  }
}
